<launch>
  <arg name="x_pos" default="1.5" />
  <arg name="y_pos" default="-1.5" />
  <arg name="z_pos" default="0.0" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find timda_gazebo)/worlds/home-area.world" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="0.1" />
    <arg name="gui" value="true" />
    <arg name="headless" value="false" />
    <arg name="debug" value="false" />
  </include>

  <node name="lidar_front_frame" pkg="tf" type="static_transform_publisher"
        args="0.38516904756 0.28066904756 0.11
              0.78539816339 0.0 3.14159265359
              /odom /front_lidar_frame 100" />

  <node name="lidar_back_frame" pkg="tf" type="static_transform_publisher"
        args="-0.38616904756 -0.28066904756 0.11
              3.92699081699 0.0 3.14159265359
              /odom /back_lidar_frame 100" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(find timda_description)/urdf/timda_mobile_platform.urdf.xacro" />
  <node name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-urdf -model timda_mobile_platform
              -x $(arg x_pos)
              -y $(arg y_pos)
              -z $(arg z_pos)
              -param robot_description"
        output="screen" />
</launch>
