<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="timda_mobile_platform">
  <xacro:property name="M_PI" value="3.14159265359" />
  <xacro:property name="M_PI_2" value="1.57079632679" />
  <xacro:include filename="$(find timda_description)/urdf/timda_mobile_platform.gazebo.xacro" />
  <xacro:include filename="$(find hector_sensors_description)/urdf/hokuyo_utm30lx.urdf.xacro" />

  <xacro:hokuyo_utm30lx name="front" parent="base_link" ros_topic="laser_front"
                        update_rate="30" ray_count="270"
                        min_angle="-135" max_angle="135">
    <origin xyz="0.38516904756 0.28066904756 0.11" rpy="${M_PI} 0 ${M_PI/4}" />
  </xacro:hokuyo_utm30lx>

  <xacro:hokuyo_utm30lx name="back" parent="base_link" ros_topic="laser_back"
                        update_rate="30" ray_count="270"
                        min_angle="-135" max_angle="135">
    <origin xyz="-0.38616904756 -0.28066904756 0.11" rpy="${M_PI} 0 ${M_PI/4+M_PI}" />
  </xacro:hokuyo_utm30lx>

  <link name="base_footprint"/>

  <joint name="base_link_joint" type="fixed">
    <origin xyz="0.0 0 0.0" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>
  
  <link name="base_link">
    <inertial>
      <origin
        xyz="-0.075595 -4.8123E-06 0.13958"
        rpy="0 0 0" />
      <mass
        value="50" />
      <inertia
        ixx="0.13635"
        ixy="-0.00051122"
        ixz="-6.0686E-05"
        iyy="0.11712"
        iyz="2.0569E-05"
        izz="0.22093" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://timda_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://timda_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
